@import "style.css";

/* for inadequate CSS support: put warning message inside a span inside this: */
p.browser-nocss { color: red }
p.browser-nocss > span { display: none; } /* IE6 doesn't know CSS child. */

/* The line-height is to accommodate a single level of super- or sub-script */
p{ text-indent: 2.0em; text-align: justify; line-height: 1.2; }
p.continuation{ text-indent: 0; }

.math, i.mi, .math td, .math th {
	font-family: freeserif, "times new roman", serif;
	/*white-space: nowrap;*/
	}
.math, i.mi { word-spacing: -0.2ex; }
span.math{ /*padding-left: 0.15ex; padding-right: 0.15ex*/ }
div.math{ text-align: center; width: 100%; word-spacing: normal; }
span.mtext{ word-spacing: normal; white-space: normal; word-spacing: normal; }

b.algebra{ font-family: freesans, verdana, sans-serif; font-weight: bold; }
/* In math, superscripts are normally placed rather low, so that the top
 * of the first level of superscript is even with the top of the main line.
 * Usually, the superscript is already rather small, but for on-screen 
 * reading, a slightly larger size is more appropriate. */
.math sup{ vertical-align: 0.35em; font-size: 75%; }
.math sub{ vertical-align: -0.25em; font-size: 75%; }
.math sub sub{ vertical-align: -0.5em; font-size: 85%; }
.subsup{ position: relative; }
.subsup sup{ position: absolute; left: 0; top: -0.2em; }
.subsup sub{ top: 0; }
/* Netscape 4 on mac interprets margins as being from the page?
   Netscape 4 also screws up with padding, as though it means distance
   from margin
  .math var{margin-left: 0.15ex; margin-right: 0.15ex }
*/
.math table{ margin: auto; }

table.matrix{ margin: auto; } /* allows table to be centered */
.matrix td{
	text-align: center;
	line-height: 1.2em;
	padding: 0 1ex 0ex 1ex;
	}

table.matrixbrak { margin: auto; }
table.hybridmatrixbrak { margin: auto;
		border-left: solid thin black;
		border-right: solid thin black;
}
td.lbrak { width: 0.8ex;
		font-size: 50%;
		border: solid thin black;
		border-right: none;
	}
td.rbrak { width: 0.8ex; font-size: 50%;
		border: solid thin black;
		border-left: none;
	}
.matrixbrak td { line-height: 1.6; }
.norm { width: 0.3ex;
	border-left: thin black solid;
	border-right: thin black solid; }
.matrixbracket { 
	border-left: thin black solid;
	border-right: thin black solid; }
.matrixbracket .nibs { width: 0.3ex;
	border-top: thin black solid;
	border-bottom: thin black solid; }

/* would like to make more compact vertically by setting line-height,
 * but IE then truncates the glyphs */
div.fraction { 
	text-align: center;
	display: inline; 
	vertical-align: middle;
}


.fraction .divider { display: none; } /* for non-css browsers, use dashes */
.fraction .numerator{
	padding-bottom: 0.1ex;
	border-bottom: thin black solid;
	}

span.fraction { position: relative;
	line-height: 1em;
	top: -0.5em;
	}
span.fraction .divider,
span.fraction .denominator
{
	position: absolute;
}
.fraction .numerator { top: 0; }
.fraction .divider { top: 0; }
.fraction span.denominator { left: 0; bottom: -1.2em; }
div.math {}
/* ------------------------------ fractions using tables */
span.baseline { color: silver; }

table.fraction{ margin: auto; 
	display: inline; 
	padding: 0; }
.math > table.fraction{ }
.fraction td{ text-align: center; }

.fraction td.numerator{ padding: 0; }
.fraction td.divider{ vertical-align: baseline; letter-spacing: -0.1em;
	line-height: 0.3em; height: 0.2em;  }
.fraction td.denominator{ padding: 0; }

div.fraction-inline {
	display: inline-block;
	position: relative;
	vertical-align: middle; }
.fraction-inline > span { display: block; padding: 0; }
.fraction-inline span.divider{ position: absolute; top: 0em; display: none;
